.footer{  
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.devlop
{
    width: 100%;
}

// .card-img-top{
//     background-color:#dedede
// }

.remPadding{
    padding-right: 0px;
    padding-left: 0px;
}

.myCard{
    width: 12em ;
}



.filterHead{
    font-size: 12px;
    border-bottom: 2px solid #000;
    text-align: center;
    line-height: 1;
    font-weight: 700;

}

.cardText
{
    font-size: 12px;
    padding-left: 0px;
    line-height: 1; 
}

.cardHeader
{
    font-size: 12px;
   padding-right: 0px;
    line-height: 1;
    font-weight: 700;
}



.filterText{
    font-size: 12px;
    font-size: 12px;
   text-align: center;
    line-height: 1;
   
    border-color: #a2eaa2

}

.SelOne
{
    background-color:green;
}

.notSel
{
    background-color:#a2eaa2;
}
